/* Style for the page body */

@font-face {
    font-family: 'digital-7';
    /* src: url('digital-7.ttf') format('truetype'), */
    /* src: url('file:/Users/charlottescherf/Documents/GitHub/DurhackTeamGoose/frontend/digital-7.regular.ttf') */
    src: url('digital-7.regular.ttf')
}

body {
    font-family: "digital-7", sans-serif;
    background-color: #242526;
    margin: 0;
    padding: 0;
}

/* Style for the title container */
#titleContainer {
    text-align: center;
    padding: 20px;
}

/* Style for the title text */
#title {
    color: #8ea5ff;
    font-size: 60px;
    text-align: center;
}

/* Style for the subtitle text */
.subtitle{
    font-size: 18px;
    color: #00ffff;
    text-align: center;
    font-weight: bold;
    border: 3px solid #af3dff;
    border-radius: 10px;
    padding: 10px;
}

/* Style for the graph options container */
#graphOptionsContainer {
    max-width: 1000px;
    background-color: #242526;
    border: 1px solid #242526;
    padding: 20px;
    margin: auto;
    text-align: center;
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

/* Style for the image within the graph options container */
#graphOptionsContainer img {
    /*max-width: 40%; /* Adjust the width as needed */
    width: auto;
    height: auto;
}


/* Style for the options container within the graph options container */
#options {
    margin-top: 10px;
    padding: 10px;
    background-color: #242526;
    border: 1px solid #242526;
    flex: 1; /* Allow it to take remaining space */
    max-width: 300px;
    margin-left: 50px;
    color: #00ffb8;
}

#metricDisplayed select{
    background-color: #242526;
    color: #00ffb8;
    font-family: "digital-7", sans-serif;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}


#buttonContainer {
    text-align: center;
}

#loadGraphButton {
    background-color: #ff00b4; /* Set the desired color using a color code or name */
    color: #F6F5EE; /* Set the text color for better visibility, if needed */
    font-size: 16px;
    font-weight: bold;
    font-family: "digital-7", sans-serif;
    padding: 7px; /* Add padding for better visual appearance */
    border: none; /* Remove border for a cleaner look */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; 
}
