/* Style for the page body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Style for the title container */
#titleContainer {
    text-align: left;
    padding: 20px;
}

/* Style for the title text */
#title {
    color: #000;
    font-size: 36px;
    margin: 0;
    margin-left: 100px;
}

/* Rest of your CSS styles... */

/* Style for the graph options container */
#graphOptionsContainer {
    max-width: 1000px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
    display: flex; /* Use Flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

/* Style for the image within the graph options container */
#graphOptionsContainer img {
    /*max-width: 40%; /* Adjust the width as needed */
    width: auto;
    height: auto;
}

/* Style for the options container within the graph options container */
#options {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    flex: 1; /* Allow it to take remaining space */
    max-width: 300px;
    margin-left: 50px;
}

#buttonContainer {
    text-align: center;
}

#loadGraphButton {
    padding: 5px 5px; /* Adjust the padding as needed for button size */
}
